<ul class="list-group">
  {{#each comentarios}}
    <li class="list-group-item list-group-item-dark">{{puntaje}} ----- {{mensaje}}</li>
    {{#if administrador}}
      <button class="borrar btn btn-danger" data="{{id_comentario}}">BORRAR</button></li>
    {{/if}}
  {{/each}}
</ul>
